<hr/>
<h3>Resetowanie hasła.</h3>
Aby zresetować hasło kliknij w poniższy link.
<br/>
<a href="{{ url('resettingPassword_confirm',{'token': token}) }}">{{ url('resettingPassword_confirm',{'token': token}) }}</a>
<br/><br/>
Pozdrawiamy
<hr/>
