{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="pt-3">Resetowanie hasła</h3>
    <hr/>
    {% include('course/alert.html.twig') %}
    <div class="row">
        <div class="mx-auto col-sm-8 col-md-4 pt-3 mb-4">
            <div class="card">
                <div class="card-header text-center text-muted">
                    Formularz resetowania hasła
                </div>
                <div class="card-body bg-light">
                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.email, {'attr': { 'class' : 'form-control form-control-sm text-center rounded-0', 'placeholder':'Email'}} ) }}

                        </div>
                        <div class="form-group">
                            {{  form_row(form.submit,  {'label': 'Zresetuj', 'attr': { 'class' : 'btn btn-sm btn-block btn-primary rounded-0'}} ) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

